* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Eczar', serif;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Poppins', sans-serif;
}
body,html{
  overflow-x: hidden;
}
.webGL{
position: absolute;
top: 0;
left: 0;

z-index: 1;
}
nav{
  color: white;
 z-index:2;
  position: relative;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
}
nav a{
 color: white;
 text-decoration: none;
 font-weight: bold;
font-size: 1.4rem;
}
nav  ul{
  display: flex;
  list-style: none;
  gap: 4rem;
  font-size: 0.9rem;
}
.titel{
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 3rem;
  left: 50%;
  top: 75%;
  transform: translate(-50%,-75%);

}